<!DOCTYPE html>
<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">


<link rel="lazy-import" href="my-mongocomponent.html">

<dom-module id="my-app">
    <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 2px;
      }

      .drawer-list a {
        display: block;
        padding: 0 6px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 4px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
        route="{{route}}"
        pattern="[[rootPattern]]:page"
        data="{{routeData}}"
        tail="{{subroute}}"></app-route>

    <app-drawer-layout fullbleed>
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
         
          <a name="mongocomponent" href="mongocomponent">Acceso a Blog de Mongo</a>
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>My App 1 de agosto de 2017 martes a las 18:50</div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="mongocomponent"
            role="main">
         
            
            
          <my-mongocomponent name="mongocomponent"></my-mongocomponent>
          <my-view404 name="view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

    <script>
        class MyApp extends Polymer.Element {

            static get is() {
                return 'my-app';
            }

            static get properties() {
                return {
                    page: {
                        type: String,
                        reflectToAttribute: true,
                        observer: '_pageChanged',
                    },
                    rootPattern: String,
                    routeData: Object,
                    subroute: String,
                };
            }

            static get observers() {
                return [
                    '_routePageChanged(routeData.page)',
                ];
            }

            constructor() {
                super();

                // Get root pattern for app-route, for more info about `rootPath` see:
                // https://www.polymer-project.org/2.0/docs/upgrade#urls-in-templates
                this.rootPattern = (new URL(this.rootPath)).pathname;
            }

            _routePageChanged(page) {
                // Polymer 2.0 will call with `undefined` on initialization.
                // Ignore until we are properly called with a string.
                if (page === undefined) {
                    return;
                }

                // If no page was found in the route data, page will be an empty string.
                // Deault to 'view1' in that case.
                this.page = page || 'view1';

                // Close a non-persistent drawer when the page & route are changed.
                if (!this.$.drawer.persistent) {
                    this.$.drawer.close();
                }
            }

            _pageChanged(page) {
                // Load page import on demand. Show 404 page if fails
                var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
                Polymer.importHref(
                    resolvedPageUrl,
                    null,
                    this._showPage404.bind(this),
                    true);
            }

            _showPage404() {
                this.page = 'view404';
            }
        }

        window.customElements.define(MyApp.is, MyApp);

    </script>
</dom-module>
